# Runtime output
*.class
*.log
*.pid

# Package Files
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
run/
bin/
!/gradle/wrapper/gradle-wrapper.jar

# Eclipse
.classpath
.project
eclipse/

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/
out/

# OS Garbage
.DS_Store
Thumbs.db
desktop.ini

# Misc
download/
